body {
    margin: 0;
    padding: 0;
    font-family: bell MT;
  }
  
  .menu_bar {
    background-color: rgb(17, 30, 69);
    height: 80px;
    width: 98.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; 
  }
  .menu_bar1{
    background-color: rgb(17, 30, 69);
    height: 27px;
    width: 98.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
     
  }
  .menu_bar2{
    background-color: rgb(17, 30, 69);
    height: 27px;
    width: 98.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
     
  }
  .mail{
    display: flex;
    text-align: center;
  }
  
  .mail li{
    color: #f9f9f9;
    text-decoration: none;
    list-style: none;
    font-size: 18px; 
    transition: color 0.3s; 
    justify-content: space-between;
    margin-left: 90px;
  
  }
  .mail .mai{
    margin-left: 160px;
  }
  .mail{
    display: flex;
    text-align: center;
  }
  
  p{
    font-size: 12pt;
  }
  
  .log {
    color: #fbfafa;
    font-size: 25px; 
    margin-left: 10px;
  }
  
  
  .log span {
    color: crimson;
    font-size: 27;
  }
  
  
  .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 20px;
  }
  
  
  .menu li {
    padding: 0 10px; 
    position: relative;
  }
  
  
  .menu li a {
    color: #f9f9f9;
    text-decoration: none;
    font-size: 14px; 
    transition: color 0.3s; 
  }
  
  
  .formation {
    display: none;
    position: absolute;
    background-color: rgb(17, 30, 69);
    width: 200px; 
    padding: 10px;
  }
  
  .formation li {
    margin: 5px 0;
  }
  
  .menu li:hover > .formation {
    display: block;
  }
  
  
  .menu li:hover > a {
    color: rgb(226, 69, 61);
  }
  
  /* menu responsive */
  /* @media(max-width: 1200px){
  
  } */
  .icon {
    display: none;
    cursor: pointer;
  }


/* ____________________Parti_image__________________ */
 .principale {
    padding-top: 70px;
    background-size: cover;
    height: 600px;
    background-image: url(photo/photo.jpg) ;
    
    
}


h1 {
    font-family: 'bell MT';
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 170px;
    text-shadow: 3px 3px 2px black;

}
.trait1 {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    text-shadow: 3px 3px 2px black;

}
h3 {
    text-align: center;
    font-size: 3em;
    color: antiquewhite;
    text-shadow: 3px 3px 2px black;
    
}